<script lang="ts">
</script>

<header>
	<h1><slot></slot></h1>
	<sub><slot name="subtitle"></slot></sub>
</header>

<style>
	h1 {
		font-size: 3em;
		text-align: center;
	}
	header {
		margin-bottom: 100px;
	}

	sub {
		display: flex;
		justify-content: center;
		margin-top: 15px;
	}
</style>
