@import "css/theme.css";
@import "css/codeblocks.css";
@import "css/fontawesome.css";

:root {
	font-family: 'JetBrains Mono Nerd Font', 'JetBrains Mono', monospace;
	color: var(--text);
	background-color: var(--background);
	font-size: var(--p);
}

:root {
	--h1: 2rem;
	/* --h1: 48px; */
	--h2: 1.8rem;
	--subtitle: 1.6rem;
	--h4: 1.4rem;
	--h5: 1.2rem;
	--h6: 1.1rem;
	--p: 1rem;
	--sub: 0.9rem;
	--small: 0.8rem;

	--mobile-max: 768px;
	--tablet-min: 769px;
	--tablet-max: 1023px;
	--desktop-min: 1024px;
	--desktop-max: 1215px;
	--widescreen-min: 1216px;
	--widescreen-max: 1407px;
	--full-hd-min: 1408px;
}
/* --mobile-max: 768px; */
@media only screen and (max-width: 768px) {
	:root {
		--h1: 1.7rem;
		--h2: 1.55rem;
		--subtitle: 1.4rem;
		--h4: 1.25rem;
		--h5: 1.15rem;
		--h6: 1.03rem;
	}
}


:where(h2, h3, h4, h5, h6) .icon-link {
	position: relative;
}

:where(h2, h3, h4, h5, h6) .icon-link::before {
	content: "#";
	position: absolute;
	left: -1.3ch;
	top: 0.1em;
	line-height: 1;
	opacity: 0;
	text-decoration: underline;
}

:where(h2, h3, h4, h5, h6):hover .icon-link::before {
	opacity: 1;
}

h1 {
	font-size: var(--h1);
	letter-spacing: -1px;
	font-weight: 700;
	margin: 0;
}

h2 {
	font-size: var(--h2);
	letter-spacing: -2px;
	font-weight: 700;
	margin: 0;
}

h3 {
	font-size: var(--subtitle);
}

h4 {
	font-size: var(--h4);
}
h5 {
	font-size: var(--h5);
}
h6 {
	font-size: var(--h6);
	font-weight: bold;
}

p {
	font-size: var(--p);
	letter-spacing: normal;
	line-height: 150%;
}

body {
	margin: 0;
}

a {
	all: unset;
	font-size: inherit;
	background-position-y: -0%;
	background-image: linear-gradient(180deg, transparent 50%, var(--accent) 50%);
	transition: all 0.1s ease;
	background-size: 2px;
	background-size: auto 190%;
	padding: 3px 0;
}

img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

a:hover {
	background-position-y: 5%;
	transition: all 0.1s ease;
}

button {
	background: none;
	color: var(--text);
	font: inherit;
	border: 1px solid var(--primary);
	border-radius: 10px;
}

sub {
	font-size: var(--sub);
}

small {
	font-size: var(--small);
}

main {
	display: flex;
	flex-direction: column;
}

blockquote {
	font-style: italic;
}

@font-face {
	font-family: 'JetBrains Mono Nerd Font';
	src: url('/fonts/jetbrainsmono.woff');
}

@media only screen and (min-width: 1180px) {
	main {
		margin: 0 15%;
	}
}

@media only screen and (max-width: 1189px) {
	main {
		margin: 0 3%;
	}
}

