<script lang="ts">
	import PageTitle from "$lib/page_title.svelte";
	export let data: any;
</script>

<PageTitle>{ data.translation.pages.about.title }</PageTitle>
<article>
	<slot />
</article>

<style>
	article {
		padding: 0 5%;
	}
</style>
