<script lang="ts">
	export let data: any;
	import ArticleList from "$lib/posts/article_list.svelte";
	import PageTitle from "$lib/page_title.svelte";
</script>

<PageTitle>
	{data.translation.pages.blog_listing.category}: {data.category}
	<div slot="subtitle">
		{#if data.posts.length < 2}
			{ data.translation.pages.blog_listing.n_articles.singular_pre } {data.posts.length} {data.translation.pages.blog_listing.n_articles.singular_post}
		{:else}
			{ data.translation.pages.blog_listing.n_articles.plural_pre } {data.posts.length} {data.translation.pages.blog_listing.n_articles.plural_post }
		{/if}
	</div>
</PageTitle>
<ArticleList posts={data.posts} translation={data.translation.components.articles}></ArticleList>

<style>
</style>
