<script lang="ts">
	import ArticleList from "$lib/posts/article_list.svelte";
	import Box from "$lib/cards/box.svelte";
	import PageTitle from "$lib/page_title.svelte";
	import Status from "$lib/projects/status.svelte";
	import { chunk } from "$lib/utils";
	import { title_text } from "$lib/vars";
	export let data: any;
</script>
<svelte:head>
	<title>{data.metadata.title} — { title_text }</title>
	<meta property="og:title" content={data.metadata.title} />
	<meta property="description" content={data.metadata.abstract} />
	<meta property="keywords" content={data.metadata.keywords.join(", ")} />
</svelte:head>

<PageTitle>{data.metadata.title}</PageTitle>

<div>
	<Box>
		<div class="box">
			<div class="cardy">
				<div>
					<summary>{data.metadata.description}</summary>
					<svelte:component this={data.content}></svelte:component>
					<Status translation={data.translation.components.projects.status } status={data.metadata.status}></Status>
				</div>
				<div class="image">
					<div>
						<img
							src={data.metadata.image}
							alt={data.metadata.image_alt}
						/>
					</div>
				</div>
			</div>
		</div>
	</Box>
</div>

<div>
	<header class="part">
		<h2>{ data.translation.pages.project.pinned.title }</h2>
		<sub>{ data.translation.pages.project.pinned.sub }</sub>
	</header>
	<ArticleList translation={ data.translation.components.articles } posts={data.pinned}></ArticleList>
</div>
<div>
	<a class="related" href="/blog/category/{data.metadata.category}">
		<header class="part">
			<h2>{ data.translation.pages.project.related_posts.title }</h2>
			<sub>{ data.translation.pages.project.related_posts.sub }</sub>
		</header>
		<ArticleList translation={ data.translation.components.articles } posts={data.posts}></ArticleList>
	</a>
</div>
<div>
	<header class="part">
		<h2>{ data.translation.pages.project.gallery.title }</h2>
	</header>
	<div class="gallery">
		{#each chunk(data.gallery, Math.ceil(data.gallery.length / 4)) as images}
			<div class="column">
				{#each images as { image, alt }}
					<img src={image} {alt} />
				{/each}
			</div>
		{/each}
	</div>
</div>
<div class="marg"></div>

<style>
	.box {
		padding: 40px;
	}

	.gallery {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5%;
	}

	.column {
		flex: 20%;
		max-width: 25%;
	}

	.column img {
		margin-top: 8px;
		vertical-align: middle;
		height: auto;
		width: 100%;
		object-fit: contain;
		transition: transform 0.3s ease-in-out;
	}

	.column img:hover {
		transform: scale(1.03);
	}
	.part {
		margin-top: 20vh;
		margin-bottom: 20vh;
		text-align: center;
	}
	.part h2 {
		font-size: 3em;
	}
	header {
		margin-bottom: 200px;
	}
	.part sub {
		font-size: 1em;
	}
	.cardy {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 5%;
	}
	.cardy > * {
		width: 47.5%;
		padding-bottom: 25px;
	}
	/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
	@media screen and (max-width: 768px) {
		.column {
			flex: 100%;
			max-width: 100%;
		}

		.cardy {
			flex-direction: column-reverse;
		}
		.cardy > * {
			width: 100%;
		}
	}

	.marg {
		margin-bottom: 100px;
	}

	img {
		display: inline;
		border-radius: 20px;
	}

	.image {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	summary {
		font-style: italic;
	}

	a.related {
		all: unset;
	}
</style>
