<script lang="ts">
	export let data: any;
	import PageTitle from "$lib/page_title.svelte";
</script>

<PageTitle
	>{data.translation.pages.blog_listing.categories}
	<div slot="subtitle">
		{data.translation.pages.blog_listing.all_categories_before}
		{data.uniqueCategories.length}
		{data.translation.pages.blog_listing.all_categories_after}
	</div></PageTitle
>
<ul>
	{#each data.uniqueCategories as category}
		<li>
			<a href="/blog/category/{category.title}"
				>{category.title} ({category.count})</a
			>
		</li>
	{/each}
</ul>

<style>
	ul {
		list-style: none;
	}
	li {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	a {
		font-weight: bold;
	}
</style>
