<script lang="ts">
	import Postinfo from "./postinfo.svelte";
	import { chunk } from "../utils";
	export let posts: any[];
	export let translation: any;
</script>

<ul>
	{#each chunk(posts, 2) as block}
		<li>
			<Postinfo
				title={block[0].meta.title}
				author={block[0].meta.author}
				abstract={block[0].meta.abstract}
				permalink={block[0].meta.permalink}
				date={{published: block[0].meta.published, updated: block[0].meta.updated}}
				image={{image: block[0].meta.image, alt: block[0].meta.image_alt}}
				categories={block[0].meta.categories}
				language={block[0].meta.lang}
				translation={translation}
				n={1}
			></Postinfo>
		</li>
		{#if block.length == 2}
			<li>
				<Postinfo
					title={block[1].meta.title}
					author={block[1].meta.author}
					abstract={block[1].meta.abstract}
					permalink={block[1].meta.permalink}
					date={{published: block[1].meta.published, updated: posts[1].meta.updated}}
					image={{image: block[1].meta.image, alt: posts[1].meta.image_alt}}
					categories={block[1].meta.categories}
					language={block[1].meta.lang}
					translation={translation}
					n={2}
				></Postinfo>
			</li>
		{/if}
	{/each}
</ul>

<style>
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		gap: 50px;
		margin-bottom: 50px;
		text-align: left;
	}
</style>
