<script lang="ts">
	export let title: string;
	export let author: string;
	export let abstract: string;
	export let permalink: string;
	export let date: { published: string; updated: string };
	export let image: { image: string; alt: string };
	export let categories: string[];
	export let lang: string;

	export let translation: {
		author: string;
		published: string;
		updated: string;
		abstract: string;
		permalink: string;
	};
	import Box from "../cards/box.svelte";
	import CategoryListing from "./category_listing.svelte";
</script>

<header>
	<Box color="var(--secondary-200)">
		<div class="inner">
			<div class="lead">
				<h1>{title}</h1>
				<sub
					>{translation.author}: {author} · {translation.published}: {date.published}
					· {translation.updated}: {date.updated}</sub
				>
				<div>
					<a href={permalink} target="_blank"
						>{translation.permalink}</a
					>
					<CategoryListing lang={lang} categories={categories} />
				</div>
			</div>
			<img class="image" src={image.image} alt={image.alt} />
			<div>
				<h2>{translation.abstract}</h2>
				<span class="abstract"><em>{abstract}</em></span>
			</div>
		</div>
	</Box>
</header>

<style>
	.inner {
		padding: 40px;
		display: flex;
		flex-direction: column;
		gap: 4vh;
	}
	.lead {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	.image {
		height: 20%;
		object-fit: contain;
	}
</style>
