<script lang="ts">
	export let categories: { title: string, count: number}[];
	export let color: string | undefined = undefined;
	export let lang: string | undefined;
</script>

<ul>
	{#each categories as category}
		<li style="background-color: {color};"><a class="category-link" href="/{ (lang) ? lang + '/' : '' }blog/category/{category.title}">{category.title} <span>{category.count}</span></a></li>
	{/each}
</ul>

<style>
	ul {
		list-style: none;
		list-style-position: inside;
		display: inline;
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		border-radius: 25px;
		padding: 5px 7px;
		background-color: var(--accent);
		margin-right: 20px;
		margin-bottom: 10px;
	}
	span {
		background-color: var(--secondary-300);
		padding: 0 8px;
		border-radius: 100px;
	}
</style>
