<script lang="ts">
	export let categories: string[];
	export let lang: string;
</script>

<ul>
	{#each categories as category}
		<li>
			<a
				class="category-link"
				href="/{lang}/blog/category/{category}">{category}</a
			>
		</li>
	{/each}
</ul>

<style>
	ul {
		display: inline-block;
		list-style: none;
		list-style-position: inside;
		margin: 0;
		padding: 20px 0px;
	}
	li {
		text-align: center;
		display: inline-block;
		border-radius: 25px;
		padding: 5px;
		background-color: var(--accent);
		margin-right: 20px;
		margin-bottom: 7px;
	}
	li > a {
		text-align: center;
		all: unset;
	}
</style>
