<script lang="ts">
	export let title: string;
	export let author: string;
	export let abstract: string;
	export let permalink: string;
	export let date: { published: string; updated: string };
	export let image: { image: string; alt: string };
	export let categories: string[];
	export let language: string;
	export let n: 1 | 2 = 1;

	export let translation: any;

	import Card from "../cards/card.svelte";
</script>

<div class="text-align">
	{#if n == 1}
		<Card color="var(--secondary-100)">
			<div class="theImage" slot="left">
				<img src={image.image} alt={image.alt} />
			</div>
			<div slot="right">
				<h2><a href={permalink}>{title}</a></h2>
				<sub
					>{translation.author}: {author} · {translation.published}: {date.published}
					· {translation.updated}: {date.updated}</sub
				>
				<ul>
					<li>
						<a class="category-link" href="/{language}/blog">
							{ language }
						</a>
					</li>

					{#each categories as category}
						<li>
							<a
								class="category-link"
								href="/{language}/blog/category/{category}">{category}</a
							>
						</li>
					{/each}
				</ul>
				<summary>
					{abstract}
				</summary>
			</div>
		</Card>
	{:else}
		<Card
			color="var(--primary-200)"
			extraStyle="flex-direction: row-reverse;"
		>
			<div class="theImage" slot="left">
				<img src={image.image} alt={image.alt} />
			</div>
			<div slot="right">
				<h2><a href={permalink}>{title}</a></h2>
				<sub
					>{translation.author}: {author} · {translation.published}: {date.published}
					· {translation.updated}: {date.updated}</sub
				>
				<ul>
					<li>
						<a class="category-link" href="/{language}/blog">
							{language}
						</a>
					</li>
					{#each categories as category}
						<li>
							<a
								class="category-link"
								href="/blog/category/{category}">{category}</a
							>
						</li>
					{/each}
				</ul>
				<summary>
					{abstract}
				</summary>
			</div>
		</Card>
	{/if}
</div>

<style>
	h2 > a {
		all: unset;
	}
	ul {
		list-style: none;
		list-style-position: inside;
		margin: 0;
		padding: 20px 0px;
	}
	li {
		text-align: center;
		display: inline-block;
		border-radius: 25px;
		padding: 5px;
		background-color: var(--accent);
		margin-right: 20px;
		margin-bottom: 7px;
	}
	li > a {
		text-align: center;
		all: unset;
	}

	img {
		border-radius: 20px;
	}

	.theImage {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	summary {
		font-style: italic;
	}
</style>
