<script lang="ts">
	import "$lib/style.css";
	import { title_text } from "$lib/vars";
	import { fade } from "svelte/transition";
	import Navigation from "$lib/general_layout/navigation.svelte";
	import Footer from "$lib/general_layout/footer.svelte";
	export let data: any;
</script>

<svelte:head>
	<title>{ title_text }</title>
</svelte:head>

<header class="head">
	<Navigation
		translation={data.translation.layout.navigation}
		currentRoute={data.currentRoute}
		language={data.language}
	></Navigation>
</header>

{#key data.currentRoute}
	<main in:fade={{ duration: 150, delay: 150 }} out:fade={{ duration: 150 }}>
		<slot />
	</main>
{/key}

<Footer translation={ data.translation.layout.footer }></Footer>

<style>
	header {
		display: flex;
		justify-content: center;
		flex-direction: column;
		position: sticky;
		top: 10px;
	}

	main {
		padding-top: 20px;
	}
</style>
