<script lang="ts">
	export let data: any;
	const translation = data.translation.pages.home;
	import ArticleList from "$lib/posts/article_list.svelte";
	import ProjectList from "$lib/projects/ProjectList.svelte";
</script>

<div class="leader">
	<h1>{ translation.page_title.title }</h1>
	<sub>{ translation.page_title.subtitle }</sub>
</div>

{#if data.posts.length > 0}
	<div class="part">
		<header>
			<h2>{ translation.blog.title.title }</h2>
			<sub>{ translation.blog.title.subtitle }</sub>
		</header>
		<ArticleList posts={data.posts} translation={ data.translation.components.articles }></ArticleList>
	</div>
{/if}
{#if data.projects.length > 0}
	<div class="part">
		<header>
			<h2>{ translation.projects.title.title }</h2>
			<sub>{ translation.projects.title.subtitle }</sub>
		</header>
		<ProjectList translation={ data.translation.components.projects } projects={data.projects}></ProjectList>
	</div>
{/if}
{#if data.finished.length > 0}
	<div class="part">
		<header>
			<h2>{ translation.gallery.title.title }</h2>
			<sub>{ translation.gallery.title.subtitle }</sub>
		</header>
		<ProjectList translation={ data.translation.components.projects } projects={data.finished}></ProjectList>
	</div>
{/if}

<style>
	header {
		margin-bottom: 200px;
	}
	.leader {
		margin-bottom: 30vh;
		margin-top: 30vh;
		text-align: center;
	}
	.leader h1 {
		font-size: 5em;
	}

	@media screen and (max-width: 768px) {
		.leader h1 {
			font-size: 3em;
		}
	}

	.leader sub {
		font-size: 2em;
	}
	.part {
		margin-top: 20vh;
		margin-bottom: 20vh;
		text-align: center;
	}
	.part h2 {
		font-size: 3em;
	}
	.part sub {
		font-size: 1em;
	}
</style>
