<script lang="ts">
	import PageTitle from "$lib/page_title.svelte";
	import ProjectList from "$lib/projects/ProjectList.svelte";

	export let data: any;
</script>

<PageTitle>{ data.translation.pages.project_listing.title }</PageTitle>

<ProjectList translation={data.translation.components.projects} projects={data.projects}></ProjectList>
