<script lang="ts">
	import Spotify from "./spotify.svelte";
	export let translation: any;
</script>

<footer>
	<div class="music">
		<Spotify translation={ translation.spotify }></Spotify>
	</div>
	<div class="elsewhere">
		<h3>{translation.elsewhere.title}</h3>
		<ul>
			<li>
				<a href="https://codeberg.org/BitSyndicate" target="_blank"
					>{translation.elsewhere.codeberg}</a
				>
			</li>
			<li>
				<a href="https://github.com/CodeCraftTV" target="_blank"
					>{translation.elsewhere.github}</a
				>
			</li>
		</ul>
	</div>
	<div class="contact">
		<h3>{ translation.contact.title }</h3>
		<ul>
			<li>
				<a href="mailto:contact@bitsyndicate.de" target="_blank"
					>{ translation.contact.email }</a
				>
			</li>
		</ul>
	</div>
</footer>

<style>
	footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 10%;
		background-color: var(--secondary-100);
		padding-top: 10vh;
	}
	.music {
		width: 40%;
		justify-content: center;
		height: 30vh;
		display: flex;
		align-items: center;
	}

	@media screen and (max-width: 768px) {
		footer {
			flex-direction: column;
			padding: 0 3%;
			padding-top: 4vh;
			padding-bottom: 4vh;
		}
		.music {
			width: 80vw;
			align-self: center;
		}
	}

	h3 {
		color: var(--primary);
	}

	ul {
		list-style: none;
		list-style-position: inside;
		margin: 0;
		padding: 0;
	}

	li:not(:last-child) {
		margin-bottom: 25px;
	}

	li {
		color: var(--primary);
	}

	.elsewhere {
		width: 20%;
	}

	.contact {
		width: 20%;
	}
</style>
