<script lang="ts">
	import { languages } from "$lib/vars";
	export let currentRoute: string;
	export let translation: {
		home: string;
		blog: string;
		projects: string;
		about: string;
	};
	export let language: string | undefined = undefined;

	function getAfterSecondSlash(input: string): string {
		const firstSlashIndex = input.indexOf("/");
		if (firstSlashIndex !== -1) {
			const secondSlashIndex = input.indexOf("/", firstSlashIndex + 1);
			if (secondSlashIndex !== -1) {
				return input.substring(secondSlashIndex + 1); // Add 1 to exclude the second slash
			}
		}
		return ""; // Return an empty string if there are fewer than two slashes
	}
</script>

{#key currentRoute}
	<nav>
		<div class="dropdown">
			<button class="dropbtn">{language ?? "global"}</button>
			<div class="dropdown-content">
				<a href="/">global</a>
				{#each languages as lang}
					<a href="/{lang}">{lang}</a>
					<!-- {#if language} -->
					<!-- 	<a href="/{lang}/{getAfterSecondSlash(currentRoute)}" -->
					<!-- 		>{lang}</a -->
					<!-- 	> -->
					<!-- {:else} -->
					<!-- 	<a href="/{lang}{currentRoute}" -->
					<!-- 		>{lang}</a -->
					<!-- 	> -->
					<!-- {/if} -->
				{/each}
			</div>
		</div>
		<a href="/{language ?? ''}">{translation.home}</a>
		<a href="/{language ? language + '/' : ''}blog">{translation.blog}</a>
		<a href="/{language ? language + '/' : ''}projects"
			>{translation.projects}</a
		>
		<a href="/{language ? language + '/' : ''}about">{translation.about}</a>
	</nav>
{/key}

<style>
	nav {
		display: flex;
		gap: 2vw;
		justify-content: center;
		padding: 1.5vh 1.5vw;
		width: fit-content;
		align-self: center;
	}

	nav {
		background: rgba(255, 255, 255, 0.1);
		border-radius: 100px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(13.7px);
		-webkit-backdrop-filter: blur(13.7px);
		border: 1px solid var(--primary);
	}

	a {
		all: unset;
	}

	@media screen and (max-width: 768px) {
		nav {
			padding-left: 12px;
			padding-right: 12px;
			gap: 12px;
		}
	}

	/* Style The Dropdown Button */
	.dropbtn {
		border: 0px;
	}

	/* The container <div> - needed to position the dropdown content */
	.dropdown {
		position: relative;
		display: inline-block;
	}

	/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(13.7px);
		border: 1px solid var(--primary);
		border-top-width: 1px;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
		overflow: hidden;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
	}

	/* Links inside the dropdown */
	.dropdown-content a {
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	/* Change color of dropdown links on hover */
	.dropdown-content a:hover {
		background-color: var(--primary);
	}

	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-content {
		display: block;
	}

	/* Change the background color of the dropdown button when the dropdown content is shown */
	.dropdown:hover .dropbtn {
		background-color: var(--primary);
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
</style>
