<script lang="ts">
	export let data: any;
	import CategoryList from "$lib/posts/category_list.svelte";
	import ArticleList from "$lib/posts/article_list.svelte";
	import PageTitle from "$lib/page_title.svelte";
</script>

<PageTitle
	>{data.translation.pages.blog_listing.title}
	<div slot="subtitle">
		<CategoryList lang={data.lang} categories={data.categories} />
	</div></PageTitle
>
<ArticleList
	translation={data.translation.components.articles}
	posts={data.posts}
></ArticleList>

<style>
</style>
