<script lang="ts">
	import Card from "$lib/cards/card.svelte";
	import Status from "./status.svelte";

	export let metadata: any;
	export let n: 1 | 2 = 1;
	export let translation: {
		blog_category: string;
		pinned_posts: string;
		status: {
			idea: string;
			paused: string;
			running: string;
			waiting: string;
			abandoned: string;
			finished: string;
		};
	};
</script>

{#if n == 1}
	<Card color="var(--secondary-100)">
		<div class="theImage" slot="left">
			<img src={metadata.image} alt={metadata.image_alt} />
		</div>
		<div slot="right" class="right">
			<h2>
				<a href={metadata.permalink}
					>{metadata.title} [{metadata.lang}]</a
				>
			</h2>
			<summary>{metadata.description}</summary>
			<span>
				{translation.blog_category}:
				<a
					class="blog"
					href="/{metadata.lang
						? metadata.lang + '/'
						: ''}blog/category/{metadata.category}"
					>{metadata.category}</a
				>
			</span>
			<div>
				<span>{translation.pinned_posts}: </span>
				<ul>
					{#each metadata.pinned_titles as pinned_title}
						<li>
							<a href={pinned_title.meta.permalink}
								>{pinned_title.meta.title}</a
							>
						</li>
					{/each}
				</ul>
			</div>
			<Status translation={translation.status} status={metadata.status}
			></Status>
		</div>
	</Card>
{:else}
	<Card color="var(--primary-200)" extraStyle="flex-direction: row-reverse;">
		<div class="theImage" slot="left">
			<img src={metadata.image} alt={metadata.image_alt} />
		</div>
		<div slot="right" class="right">
			<h2>
				<a href={metadata.permalink}
					>{metadata.title} [{metadata.lang}]</a
				>
			</h2>
			<summary>{metadata.description}</summary>
			<span>
				{translation.blog_category}:
				<a
					class="blog"
					href="/{metadata.lang
						? metadata.lang + '/'
						: ''}blog/category/{metadata.category}"
					>{metadata.category}
					>{metadata.category}</a
				>
			</span>
			<div>
				<span>{translation.pinned_posts}: </span>
				<ul>
					{#each metadata.pinned_titles as pinned_title}
						<li>
							<a href={pinned_title.meta.permalink}
								>{pinned_title.meta.title}</a
							>
						</li>
					{/each}
				</ul>
			</div>
			<Status translation={translation.status} status={metadata.status}
			></Status>
		</div>
	</Card>
{/if}

<style>
	.theImage {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	img {
		border-radius: 20px;
	}

	.right {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	a {
		all: unset;
	}
	summary {
		font-style: italic;
	}

	ul {
		list-style: none;
		list-style-position: inside;
		display: inline;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		border-radius: 25px;
		padding: 5px 7px;
		background-color: var(--accent);
		margin-right: 20px;
		margin-bottom: 10px;
	}

	.blog {
		display: inline-block;
		border-radius: 25px;
		padding: 5px 7px;
		background-color: var(--accent);
		margin-right: 20px;
		margin-bottom: 10px;
	}
</style>
