<script lang="ts">
	import { chunk } from "$lib/utils";
	import ProjectInfo from "./ProjectInfo.svelte";

	export let projects: any;
	export let translation: { blog_category: string, pinned_posts: string, status: {
		idea: string;
		paused: string;
		running: string;
		waiting: string;
		abandoned: string;
		finished: string;
	} };
</script>

<ul>
	{#each chunk(projects, 2) as project}
		<li>
			<ProjectInfo  translation={translation} metadata={project[0].meta}></ProjectInfo>
		</li>
		{#if project.length > 1}
			<li>
				<ProjectInfo translation={translation} metadata={project[1].meta} n={2}
				></ProjectInfo>
			</li>
		{/if}
	{/each}
</ul>

<style>
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		margin-bottom: 100px;
	}

	li {
		margin-bottom: 50px;
		text-align: left;
	}
</style>
