<script lang="ts">
	export let status:
		| "idea"
		| "paused"
		| "running"
		| "waiting"
		| "abandoned"
		| "finished";
	export let translation: {
		idea: string;
		paused: string;
		running: string;
		waiting: string;
		abandoned: string;
		finished: string;
	};
</script>

<aside class={status}>
	{#if status == "idea"}
		<span
			><svg
				style="fill: var(--yellow);"
				width="100px"
				height="100px"
				viewBox="0 0 24 24"
				version="1.1"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
			>
				<!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
				<title>ic_fluent_lightbulb_circle_24_regular</title>
				<desc>Created with Sketch.</desc>
				<g id="🔍-Product-Icons" stroke="none" stroke-width="1">
					<g id="ic_fluent_lightbulb_circle_24_regular">
						<path
							d="M12,2 C17.5228475,2 22,6.4771525 22,12 C22,17.5228475 17.5228475,22 12,22 C6.4771525,22 2,17.5228475 2,12 C2,6.4771525 6.4771525,2 12,2 Z M12,3.5 C7.30557963,3.5 3.5,7.30557963 3.5,12 C3.5,16.6944204 7.30557963,20.5 12,20.5 C16.6944204,20.5 20.5,16.6944204 20.5,12 C20.5,7.30557963 16.6944204,3.5 12,3.5 Z M12,5.20192308 C14.7614237,5.20192308 17,7.44049933 17,10.2019231 C17,11.7382837 16.3017164,13.1614549 15.1098423,14.1170278 L15.142,14.089 L14.3773858,17.4564876 C14.2233303,18.1240615 13.6925023,18.6314972 12.9978852,18.7671003 L12.9978852,18.7671003 L12.8466093,18.7903897 L12.6909395,18.7980769 L11.3090605,18.7980769 C10.5750044,18.7980769 9.92281665,18.3352973 9.66510834,17.6064423 L9.66510834,17.6064423 L9.62208636,17.4541839 L8.856,14.088 L8.70145288,13.9593293 C7.76934244,13.1411875 7.16573084,11.9984793 7.02867715,10.7288689 L7.02867715,10.7288689 L7.00752809,10.4733133 L7,10.2019231 C7,7.44049933 9.23857625,5.20192308 12,5.20192308 Z M13.17,16 L10.828,16 L11.0733612,17.077684 L11.0917619,17.1451356 C11.1241444,17.2362559 11.2112677,17.2980769 11.3090605,17.2980769 L11.3090605,17.2980769 L12.6480509,17.2993042 L12.7179127,17.2965418 C12.8139811,17.2854779 12.8938094,17.2144868 12.9152384,17.1216467 L12.9152384,17.1216467 L13.17,16 Z M12,6.70192308 C10.0670034,6.70192308 8.5,8.26892645 8.49968716,10.180263 L8.49968716,10.180263 L8.50595936,10.4082682 C8.56761455,11.4723206 9.10904809,12.436762 9.96451026,13.0490388 C10.1137332,13.1558416 10.2186219,13.3136467 10.2593212,13.4925821 L10.2593212,13.4925821 L10.488,14.502 L10.5288462,14.5 L13.4711538,14.5 L13.51,14.502 L13.7396459,13.4938038 C13.7709571,13.3560172 13.8403674,13.2306076 13.9389762,13.1313668 L14.0182684,13.0620584 L14.1878569,12.9340214 C15.0119474,12.273056 15.5,11.2783564 15.5,10.2019231 C15.5,8.26892645 13.9329966,6.70192308 12,6.70192308 Z"
							id="🎨-Color"
						>
						</path>
					</g>
				</g>
			</svg></span
		>
		<p>{translation.idea}</p>
	{:else if status == "abandoned"}
		<span>
			<svg
				style="fill: var(--red);"
				enable-background="new 0 0 64 64"
				height="64"
				viewBox="0 0 64 64"
				width="64"
				xmlns="http://www.w3.org/2000/svg"
				><g
					><path
						d="m46.355 17.979c-.779-.78-2.043-.78-2.821 0l-11.594 11.591-11.591-11.591c-.779-.78-2.044-.78-2.822 0-.778.779-.778 2.043 0 2.823l11.499 11.5-11.492 11.489c-.778.779-.778 2.043 0 2.822.392.391.903.586 1.414.586s1.02-.195 1.411-.586l11.581-11.579 11.583 11.579c.39.391.899.586 1.41.586.512 0 1.024-.195 1.412-.586.779-.779.779-2.043 0-2.822l-11.489-11.488 11.499-11.5c.78-.781.78-2.044 0-2.824z"
					/><path
						d="m31.94 0c-17.61 0-31.94 14.328-31.94 31.941 0 17.611 14.33 31.94 31.94 31.94 17.611 0 31.941-14.329 31.941-31.94.001-17.613-14.329-31.941-31.941-31.941zm0 59.89c-15.411 0-27.948-12.538-27.948-27.948 0-15.412 12.537-27.949 27.948-27.949 15.412 0 27.949 12.537 27.949 27.949.001 15.41-12.536 27.948-27.949 27.948z"
					/></g
				></svg
			>
		</span>
		<p>{translation.abandoned}</p>
	{:else if status == "paused"}
		<span>
			<svg
				style="fill: var(--accent-600);"
				width="800px"
				height="800px"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g>
					<path fill="none" d="M0 0h24v24H0z" />
					<path
						d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM9 9h2v6H9V9zm4 0h2v6h-2V9z"
					/>
				</g>
			</svg>
		</span>
		<p>{translation.paused}</p>
	{:else if status == "waiting"}
		<span>
			<svg
				style="stroke: var(--primary);"
				width="800px"
				height="800px"
				viewBox="0 0 24 24"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<circle cx="12" cy="12" r="10" stroke-width="1.5" />
				<path
					d="M12 8V12L14.5 14.5"
					stroke-width="1.5"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
			</svg>
		</span>
		<p>{translation.waiting}</p>
	{:else if status == "running"}
		<span>
			<svg
				style="fill: none; stroke: var(--green);"
				xmlns="http://www.w3.org/2000/svg"
				width="512"
				height="512"
				viewBox="0 0 512 512"
				><title>ionicons-v5-d</title><circle
					cx="160"
					cy="96"
					r="48"
					style="stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"
				/><circle
					cx="160"
					cy="416"
					r="48"
					style="stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"
				/><line
					x1="160"
					y1="368"
					x2="160"
					y2="144"
					style="stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"
				/><circle
					cx="352"
					cy="160"
					r="48"
					style="stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"
				/><path
					d="M352,208c0,128-192,48-192,160"
					style="stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"
				/></svg
			>
		</span>
		<p>{translation.running}</p>
	{:else if status == "finished"}
		<span>
			<svg
				style="fill: var(--green);"
				version="1.1"
				id="Capa_1"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				width="800px"
				height="800px"
				viewBox="0 0 305.002 305.002"
				xml:space="preserve"
			>
				<g>
					<g>
						<path
							d="M152.502,0.001C68.412,0.001,0,68.412,0,152.501s68.412,152.5,152.502,152.5c84.089,0,152.5-68.411,152.5-152.5
			S236.591,0.001,152.502,0.001z M152.502,280.001C82.197,280.001,25,222.806,25,152.501c0-70.304,57.197-127.5,127.502-127.5
			c70.304,0,127.5,57.196,127.5,127.5C280.002,222.806,222.806,280.001,152.502,280.001z"
						/>
						<path
							d="M218.473,93.97l-90.546,90.547l-41.398-41.398c-4.882-4.881-12.796-4.881-17.678,0c-4.881,4.882-4.881,12.796,0,17.678
			l50.237,50.237c2.441,2.44,5.64,3.661,8.839,3.661c3.199,0,6.398-1.221,8.839-3.661l99.385-99.385
			c4.881-4.882,4.881-12.796,0-17.678C231.269,89.089,223.354,89.089,218.473,93.97z"
						/>
					</g>
				</g>
			</svg>
		</span>
		<p>{translation.finished}</p>
	{/if}
</aside>

<style>
	aside {
		display: flex;
		gap: 10%;
		align-items: center;
		font-weight: bold;
	}
	svg {
		width: 100px;
		height: 100px;
	}
	p {
		font-size: var(--h2);
		font-weight: bold;
	}
	.idea {
		color: var(--yellow);
	}
	.paused {
		color: var(--accent-600);
	}
	.running {
		color: var(--green);
	}
	.waiting {
		color: var(--primary);
	}
	.abandoned {
		color: var(--red);
	}
	.finished {
		color: var(--green);
	}
</style>
