/**
 * MIT License
 * Copyright (c) 2021 Ayush Saini
 * Holi Theme for prism.js
 * @author Ayush Saini <@AyushCodes on Twitter>
 */

code[class*='language-'],
pre[class*='language-'] {
	color: var(--text);
	background: var(--background);
	text-shadow: none;
	font-size: 1em;
	line-height: 1.5;
	letter-spacing: .2px;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	text-align: left;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}


pre.language-markdown:before {
	content: "Markdown";
}

pre code::before {
	content: attr(data-language);
	display: block;
	padding: 3px 6px;
	border-bottom: solid 1px;
	margin-bottom: 5px;
	border-color: var(--accent);
}

pre.language-rust::before {
	content: "Rust";
}

pre.language-css::before {
	content: "CSS";
}
pre.language-json::before {
	content: "Json";
}
pre.language-http::before {
	content: "HTTP";
}
pre.language-sql::before {
	content: "SQL";
}

pre.language-pseudocode::before {
	content: "Pseudocode";
}

pre[class*='language-'] {
	/* border: 1px solid #2a4555; */
	border-radius: 20px;
	padding: 1.5em 1em;
	margin: 1em 0;
	overflow: auto;
}

:not(pre)>code[class*='language-'] {
	color: #f0f6f6;
	background: #2a4555;
	padding: 0.2em 0.3em;
	border-radius: 0.2em;
	box-decoration-break: clone;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--green);
}

.token.punctuation {
	color: var(--text);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: var(--secondary-500);
}

.token.selector,
.token.attr-name,
.token.builtin,
.token.inserted {
	color: var(--primary);
}

.token.string,
.token.char {
	color: var(--green);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: var(--accent);
	background: transparent;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: var(--primary);
}

.token.function,
.token.class-name {
	color: var(--primary-800);
}

.token.regex,
.token.important,
.token.variable {
	color: var(--text);
}
