img {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 20px;
}

figure {
  all: unset;
}

figcaption {
  padding-top: 1vh;
  padding-bottom: 2vh;
  text-align: center;
  font-style: italic;
}

code {
  text-wrap: wrap;
  background-color: var(--accent-200);
  padding: 4px;
  border-radius: 4px;
}

hr {
  border-top: 3px solid var(--accent-200);
  width: 100%;
}

