:root {
  --green: #008f5a;
  --red: #ba201e;
  --yellow: #BB8B23;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: hsl(267, 43%, 9%);
    --background: hsl(270, 46%, 95%);
    --primary: hsl(266, 52%, 29%);
    --secondary: hsl(270, 55%, 65%);
    --accent: var(--accent-300);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(267, 43%, 91%);
    --background: hsl(270, 46%, 5%);
    --primary: hsl(266, 52%, 71%);
    --secondary: hsl(270, 55%, 35%);
    --accent: hsl(267, 87%, 50%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-50: hsl(267, 44%, 95%);
    --text-100: hsl(266, 41%, 90%);
    --text-200: hsl(267, 43%, 80%);
    --text-300: hsl(267, 42%, 70%);
    --text-400: hsl(267, 43%, 60%);
    --text-500: hsl(267, 43%, 50%);
    --text-600: hsl(267, 43%, 40%);
    --text-700: hsl(267, 42%, 30%);
    --text-800: hsl(267, 43%, 20%);
    --text-900: hsl(266, 41%, 10%);
    --text-950: hsl(267, 44%, 5%);

    --background-50: hsl(270, 46%, 95%);
    --background-100: hsl(271, 45%, 90%);
    --background-200: hsl(270, 45%, 80%);
    --background-300: hsl(270, 46%, 70%);
    --background-400: hsl(270, 46%, 60%);
    --background-500: hsl(270, 46%, 50%);
    --background-600: hsl(270, 46%, 40%);
    --background-700: hsl(270, 46%, 30%);
    --background-800: hsl(270, 45%, 20%);
    --background-900: hsl(269, 45%, 10%);
    --background-950: hsl(270, 46%, 5%);

    --primary-50: hsl(263, 52%, 95%);
    --primary-100: hsl(267, 53%, 90%);
    --primary-200: hsl(266, 53%, 80%);
    --primary-300: hsl(266, 52%, 70%);
    --primary-400: hsl(266, 52%, 60%);
    --primary-500: hsl(266, 52%, 50%);
    --primary-600: hsl(266, 52%, 40%);
    --primary-700: hsl(266, 52%, 30%);
    --primary-800: hsl(266, 53%, 20%);
    --primary-900: hsl(267, 53%, 10%);
    --primary-950: hsl(268, 52%, 5%);

    --secondary-50: hsl(270, 54%, 95%);
    --secondary-100: hsl(271, 57%, 90%);
    --secondary-200: hsl(270, 55%, 80%);
    --secondary-300: hsl(270, 56%, 70%);
    --secondary-400: hsl(270, 55%, 60%);
    --secondary-500: hsl(270, 55%, 50%);
    --secondary-600: hsl(270, 55%, 40%);
    --secondary-700: hsl(270, 56%, 30%);
    --secondary-800: hsl(270, 55%, 20%);
    --secondary-900: hsl(269, 57%, 10%);
    --secondary-950: hsl(270, 54%, 5%);

    --accent-50: hsl(267, 85%, 95%);
    --accent-100: hsl(267, 88%, 90%);
    --accent-200: hsl(267, 86%, 80%);
    --accent-300: hsl(267, 87%, 70%);
    --accent-400: hsl(267, 87%, 60%);
    --accent-500: hsl(267, 87%, 50%);
    --accent-600: hsl(267, 87%, 40%);
    --accent-700: hsl(267, 87%, 30%);
    --accent-800: hsl(267, 86%, 20%);
    --accent-900: hsl(267, 88%, 10%);
    --accent-950: hsl(267, 85%, 5%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-50: hsl(267, 44%, 5%);
    --text-100: hsl(266, 41%, 10%);
    --text-200: hsl(267, 43%, 20%);
    --text-300: hsl(267, 42%, 30%);
    --text-400: hsl(267, 43%, 40%);
    --text-500: hsl(267, 43%, 50%);
    --text-600: hsl(267, 43%, 60%);
    --text-700: hsl(267, 42%, 70%);
    --text-800: hsl(267, 43%, 80%);
    --text-900: hsl(266, 41%, 90%);
    --text-950: hsl(267, 44%, 95%);

    --background-50: hsl(270, 46%, 5%);
    --background-100: hsl(269, 45%, 10%);
    --background-200: hsl(270, 45%, 20%);
    --background-300: hsl(270, 46%, 30%);
    --background-400: hsl(270, 46%, 40%);
    --background-500: hsl(270, 46%, 50%);
    --background-600: hsl(270, 46%, 60%);
    --background-700: hsl(270, 46%, 70%);
    --background-800: hsl(270, 45%, 80%);
    --background-900: hsl(271, 45%, 90%);
    --background-950: hsl(270, 46%, 95%);

    --primary-50: hsl(268, 52%, 5%);
    --primary-100: hsl(267, 53%, 10%);
    --primary-200: hsl(266, 53%, 20%);
    --primary-300: hsl(266, 52%, 30%);
    --primary-400: hsl(266, 52%, 40%);
    --primary-500: hsl(266, 52%, 50%);
    --primary-600: hsl(266, 52%, 60%);
    --primary-700: hsl(266, 52%, 70%);
    --primary-800: hsl(266, 53%, 80%);
    --primary-900: hsl(267, 53%, 90%);
    --primary-950: hsl(263, 52%, 95%);

    --secondary-50: hsl(270, 54%, 5%);
    --secondary-100: hsl(269, 57%, 10%);
    --secondary-200: hsl(270, 55%, 20%);
    --secondary-300: hsl(270, 56%, 30%);
    --secondary-400: hsl(270, 55%, 40%);
    --secondary-500: hsl(270, 55%, 50%);
    --secondary-600: hsl(270, 55%, 60%);
    --secondary-700: hsl(270, 56%, 70%);
    --secondary-800: hsl(270, 55%, 80%);
    --secondary-900: hsl(271, 57%, 90%);
    --secondary-950: hsl(270, 54%, 95%);

    --accent-50: hsl(267, 85%, 5%);
    --accent-100: hsl(267, 88%, 10%);
    --accent-200: hsl(267, 86%, 20%);
    --accent-300: hsl(267, 87%, 30%);
    --accent-400: hsl(267, 87%, 40%);
    --accent-500: hsl(267, 87%, 50%);
    --accent-600: hsl(267, 87%, 60%);
    --accent-700: hsl(267, 87%, 70%);
    --accent-800: hsl(267, 86%, 80%);
    --accent-900: hsl(267, 88%, 90%);
    --accent-950: hsl(267, 85%, 95%);
  }
}
