<script lang="ts">
	export let color: string | undefined = undefined;
</script>

<div class="main" style="{color != undefined ? `background-color: ${color}` : `` }">
	<slot />
</div>
<style>
	.main {
		background-color: var(--secondary-100);
		border-radius: 40px;
	}
</style>
