<script lang="ts">
	export let color: string | undefined = undefined;
	export let extraStyle: string | undefined = undefined;
</script>

<div class="card-main" style="{color != undefined ? `background-color: ${color};` : `` }{extraStyle != undefined ? extraStyle : ``}">
	<div class="left">
		<slot name="left"></slot>
	</div>

	<div class="right">
		<slot name="right"></slot>
	</div>
</div>
<style>
	.card-main {
		display: flex;
		padding: 1em;
		background-color: var(--secondary-100);
		border-radius: 25px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 5%;
	}
	.left {
		border-radius: 25px;
		width: 47.5%;
	}

	.right {
		border-radius: 25px;
		width: 47.5%;
	}

	/*Phone*/
	@media screen and (max-width: 768px) {
		.card-main {
			flex-direction: row !important;
			gap: 20px; 
		}
		.left {
			width: 100%;
		}
		.right {
			width: 100%;
		}
	}
</style>
