<script lang="ts">
	export let data: any;
	import ArticleHead from "$lib/posts/article_head.svelte";
	import Box from "$lib/cards/box.svelte";
	import "$lib/css/post.css"
	import { title_text } from "$lib/vars";
</script>

<svelte:head>
	<title>{data.title} — { title_text }</title>
	<meta property="og:title" content={data.title} />
	<meta property="description" content={data.abstract} />
	<meta property="keywords" content={data.categories.join(", ")} />
</svelte:head>

<article>
	<ArticleHead
		lang={data.lang}
		title={data.title}
		author={data.author}
		date={data.date}
		abstract={data.abstract}
		permalink={data.permalink}
		image={data.image}
		categories={data.categories}
		translation={ data.translation.components.articles }
	></ArticleHead>
	<Box>
		<div class="content">
			<svelte:component this={data.content} />
		</div>
	</Box>
</article>

<style>
	.content {
		margin-top: 40px;
		margin-bottom: 40px;
		padding: 40px;
	}
	.content {
		display: flex;
		flex-direction: column;
		align-items: left;
	}

</style>
